[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-localserver = "*"
pytest-asyncio = "*"
pytest-trio = "*"
asks = "*"
mock = "*"
cookies = "*"

[dev-packages]

[requires]
python_version = "3.7"
